<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bhuvi Careers</title>
</head>
<body>
  <h1>Bhuvi Careers</h1>
  
  <img src='https://e4f51df0-8f48-49a7-bc1e-9cf7486c7874-00-g4ralca5hq6v.spock.replit.dev/static/banner.jpg' height=180>

  <h2>About Bhuvi</h2>
  
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra magna ex, ut luctus orci convallis ut. Nulla urna augue, interdum eu semper accumsan, lacinia vitae est. Nam efficitur dignissim lacus vitae accumsan. Vestibulum vel rhoncus nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent orci lectus, lobortis ut nisi in, varius accumsan enim.</p>

  <h2>Job Openings</h2>
  <p>Todo - show the job opening here!</p>
  <button>Contact Us</button>

  
</body>
</html>