<!DOCTYPE html>
<html lang="en">
<head>

  {% include "bootstrap.html" %}
  <title>Bhuvi Careers</title>
  
<body>

  {% include "nav.html" %}

  {% include "banner.html" %}
  
  <div class="container">
    
    <h1 class="text-center mt-2 mb-4">Bhuvi Careers</h1>

    <div class="row border" style="padding-bottom:16px; margin-bottom:16px; padding-top:16px; margin-top:16px;"> 
      <div class="col-md-6">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra magna ex, ut luctus orci convallis ut. Nulla urna augue, interdum eu semper accumsan, lacinia vitae est. Nam efficitur dignissim lacus vitae accumsan. Vestibulum vel rhoncus nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent orci lectus, lobortis ut nisi in, varius accumsan enim.</p> 
      </div>

      <div class="d-none d-md-block col-md-1"></div> 
      
      <div class="d-none d-md-block col-md-5"> 
        <img src="/static/people.jpg" style="height:250px; border-radius:10px;">
      </div>
    </div>
  

    <div>
      <h2 class="text-center">Job Openings</h2>
      
      <div>
        <div>
          {% for job in jobs %}
            {% include 'jobitem.html' %}
          {% endfor %}
        </div>
      </div>

      <div class="text-center">
        <a target="_blank" href="mailto:salvajibhuvi@gmail.com?subject=Question%20regarding%20the%20job%20applications&body=Name%20%3A%20%3Cyour%20name%3E%0D%0A%0D%0AQuestion%20%3A%20%3Cyour%20question%3E"class="btn btn-secondary btn-lg mt-2">Ask Us</a>
      </div>
      
    </div>
  </div>

  {% include "footer.html" %}
  
</body>
</html>